.header{
    color: blueviolet;
    background-color: beige;
    font-size: larger;
    justify-content:center ;
    align-items: flex;
    flex: auto;
}
.items{
    justify-items:flex-4;
    align-items:flex-end;
    justify-content: space-between;
padding-left: 20px;
    margin-bottom: 0cqmax;
    color: black;
    flex-direction: column;
    padding-left: 150px;
}